// Mixin to ouput custom webfonts, both variable fonts and their static fallbacks

// 1: 	family 					family name, title case
// 2: 	type, 					title case
// 3: 	script, 				title case
// 4: 	suffix, 				title case, in the case of UI
// 5: 	weight					weight name, Options are 'Regular', 'Bold', or 'VF', prepend '-'
// 6: 	subset, 				lowercase, prepend '-'
// 7: 	fontWeight 			font-weight property, for VF use weight range eg. "100 900"
// 8: 	fontStyle				font-style property
// 9: 	fontDisplay			font-display property, options: swap,
// 10:	unicodeRange		unicode-range property, global variable from unicode-ranges.scss
// 11:	space						optional space to insert when suffix is used without '-'
// 12:	dash						optional dash after script (eg. for -Italic)

// Any value can be set to 'null'
// Example: @include font-face(Noto, Sans, Cyrillic, VF, UI, -subset, bold, normal, swap, cyrillic, null, null);
$oneSpace: 	' ';
$oneDash:		'-';

@mixin font-face ($family: "Noto", $type: "Sans", $script: "Cyrillic", $suffix: "UI", $weight: "-VF", $subset: "-subset", $fontWeight: "100 900", $fontStyle: "normal", $fontDisplay: "swap", $unicodeRange: "cyrillic", $space: $oneSpace, $dash: $oneDash) {
	font-family: '#{$family} #{$type} #{$script}#{$space}#{$suffix}';
	src:	url('#{$font-path}#{$family}#{$type}#{$script}#{$dash}#{$suffix}#{$weight}#{$subset}.woff2') format('woff2'),
				url('#{$font-path}#{$family}#{$type}#{$script}#{$dash}#{$suffix}#{$weight}#{$subset}.woff') format('woff'),
				// url('#{$font-path}#{$family}#{$type}#{$script}#{$dash}#{$suffix}#{$weight}#{$subset}.eot?#iefix') format('embedded-opentype'),
				// url('#{$font-path}#{$family}#{$type}#{$script}#{$dash}#{$suffix}#{$weight}#{$subset}.svg') format('svg'),
				;
	font-weight: $fontWeight;
	font-style: $fontStyle;
	font-display: $fontDisplay;
	unicode-range: $unicodeRange;
}
