// Import the unicode-range variables
@import "unicode-ranges";
@import "mixins";

// Variable Serif fonts for Adlam
/*
//@font-face {
	@include font-face-variable(Noto, Serif, Arabic, VF, Regular, normal, normal);
	unicode-range: $arabic;
}*/
// Variable Serif fonts for Arabic
@font-face {
	@include font-face-variable(Noto, Serif, Arabic, VF, Regular, normal, normal);
	unicode-range: $arabic;
}
// Variable Serif fonts for Armenian
@font-face {
	@include font-face-variable(Noto, Serif, Armenian, VF, Regular, normal, normal);
	unicode-range: $armenian;
}
// Variable Serif fonts for Balinese
@font-face {
	@include font-face-variable(Noto, Serif, Balinese, VF, Regular, normal, normal);
	unicode-range: $balinese;
}
/*
// Variable Serif fonts for Bamum
@font-face {
	@include font-face-variable(Noto, Serif, Bamum, VF, Regular, normal, normal);
	unicode-range: $bamum;
}*/
// Variable Serif fonts for Bengali
@font-face {
	@include font-face-variable(Noto, Serif, Bengali, VF, Regular, normal, normal);
	unicode-range: $bengali;
}
/*
// Variable Serif fonts for Brahmi
@font-face {
	@include font-face-variable(Noto, Serif, Brahmi, VF, Regular, normal, normal);
	unicode-range: $brahmi;
}
// Variable Serif fonts for Buginese
@font-face {
	@include font-face-variable(Noto, Serif, Buginese, VF, Regular, normal, normal);
	unicode-range: $buginese;
}
// Variable Serif fonts for Buhid
@font-face {
	@include font-face-variable(Noto, Serif, Buhid, VF, Regular, normal, normal);
	unicode-range: $buhid;
}
// Variable Serif fonts for Unified Canadian Aboriginal
@font-face {
	@include font-face-variable(Noto, Serif, Canadian Aboriginal, VF, Regular, normal, normal);
	unicode-range: $c-aboriginal;
}
// Variable Serif fonts for Cherokee
@font-face {
	@include font-face-variable(Noto, Serif, Cherokee, VF, Regular, normal, normal);
	unicode-range: $cherokee;
}
// Variable Serif fonts for Cham
@font-face {
	@include font-face-variable(Noto, Serif, Cham, VF, Regular, normal, normal);
	unicode-range: $cham;
}*/
// Variable Serif fonts for Cyrillic
@font-face {
	@include font-face-variable(Noto, Serif, LGC, VF, Regular, normal, normal);
	unicode-range: $cyrillic;
}
// Variable Serif fonts for Devanagari (Hindi)
@font-face {
	@include font-face-variable(Noto, Serif, Devanagari, VF, Regular, normal, normal);
	unicode-range: $devanagari;
}
// Variable serif fonts for Ethiopic
@font-face {
	@include font-face-variable(Noto, Serif, Ethiopic, VF, Regular, normal, normal);
	unicode-range: $ethiopic;
}
// Variable serif fonts for Georgian
@font-face {
	@include font-face-variable(Noto, Serif, Georgian, VF, Regular, normal, normal);
	unicode-range: $georgian;
}
// Variable Serif fonts for Greek
@font-face {
	@include font-face-variable(Noto, Serif, LGC, VF, Regular, normal, normal);
	unicode-range: $greek;
}
// Variable serif fonts for Gujarati
@font-face {
	@include font-face-variable(Noto, Serif, Gujarati, VF, Regular, normal, normal);
	unicode-range: $gujarati;
}
// Variable serif fonts for Gurmukhi
@font-face {
	@include font-face-variable(Noto, Serif, Gurmukhi, VF, Regular, normal, normal);
	unicode-range: $gurmukhi;
}
// Variable Serif fonts for Hebrew
@font-face {
	@include font-face-variable(Noto, Serif, Hebrew, VF, Regular, normal, normal);
	unicode-range: $hebrew;
}
// Variable serif fonts for Kannada
@font-face {
	@include font-face-variable(Noto, Serif, Kannada, VF, Regular, normal, normal);
	unicode-range: $kannada;
}
// The Variable serif font for Khmer
@font-face {
	@include font-face-variable(Noto, Serif, Khmer, VF, Regular, normal, normal);
	unicode-range: $khmer;
}
// Variable Serif fonts for Lao
@font-face {
	@include font-face-variable(Noto, Serif, Lao, VF, Regular, normal, normal);
	unicode-range: $lao;
}
// Variable Serif fonts for Latin
@font-face {
	@include font-face-variable(Noto, Serif, Latin, VF, Regular, normal, normal);
	unicode-range: $latin;
}
/*
// Variable Serif fonts for Limbu
@font-face {
	@include font-face-variable(Noto, Serif, Limbu, VF, Regular, normal, normal);
	unicode-range: $limbu;
}*/
// Variable Serif fonts for Lisu
@font-face {
	@include font-face-variable(Noto, Serif, Lisu, VF, Regular, normal, normal);
	unicode-range: $lisu;
}
// Variable Serif fonts for Malayalam
@font-face {
	@include font-face-variable(Noto, Serif, Malayalam, VF, Regular, normal, normal);
	unicode-range: $malayalam;
}
/*
// Variable Serif fonts for Mongolian
@font-face {
	@include font-face-variable(Noto, Serif, Mongolian, VF, Regular, normal, normal);
	unicode-range: $mongolian;
}*/
// Variable Serif fonts for Myanmar
@font-face {
	@include font-face-variable(Noto, Serif, Myanmar, VF, Regular, normal, normal);
	unicode-range: $myanmar;
}
/*
// Variable Serif fonts for NKo
@font-face {
	@include font-face-variable(Noto, Serif, NKo, VF, Regular, normal, normal);
	unicode-range: $nko;
}
// Variable Serif fonts for Nushu
@font-face {
	@include font-face-variable(Noto, Serif, Nushu, VF, Regular, normal, normal);
	unicode-range: $nushu;
}
// Variable Serif fonts for Oriya
@font-face {
	@include font-face-variable(Noto, Serif, Oriya, VF, Regular, normal, normal);
	unicode-range: $oriya;
}*/
// Variable Serif fonts for Sinhala
@font-face {
	@include font-face-variable(Noto, Serif, Sinhala, VF, Regular, normal, normal);
	unicode-range: $sinhala;
}
/*
// Variable Serif fonts for Tagalog
@font-face {
	@include font-face-variable(Noto, Serif, Tagalog, VF, Regular, normal, normal);
	unicode-range: $tagalog;
}
// Variable Serif fonts for Tai Le
@font-face {
	@include font-face-variable(Noto, Serif, TaiLe, VF, Regular, normal, normal);
	unicode-range: $tai-le;
}
// Variable Serif fonts for Tai Tham
@font-face {
	@include font-face-variable(Noto, Serif, TaiTham, VF, Regular, normal, normal);
	unicode-range: $tai-tham;
}
// Variable Serif fonts for Tai Viet
@font-face {
	@include font-face-variable(Noto, Serif, TaiViet, VF, Regular, normal, normal);
	unicode-range: $tai-viet;
}
// Variable serif fonts for Takri
@font-face {
	@include font-face-variable(Noto, Serif, Takri, VF, Regular, normal, normal);
	unicode-range: $takri;
}*/
// Variable serif fonts for Tamil
@font-face {
	@include font-face-variable(Noto, Serif, Tamil, VF, Regular, normal, normal);
	unicode-range: $tamil;
}
// Variable serif fonts for Tamil Slanted
@font-face {
	@include font-face-variable(Noto, Serif, TamilSlanted, VF, Regular, normal, normal);
	unicode-range: $tamil;
}
// Variable serif fonts for Telugu
@font-face {
	@include font-face-variable(Noto, Serif, Telugu, VF, Regular, normal, normal);
	unicode-range: $telugu;
}
/*// The variable serif font for Thaana
@font-face {
	@include font-face-variable(Noto, Serif, Thaana, VF, Regular, normal, normal);
	unicode-range: $thaana;
}*/
// The variable serif font for Thai
@font-face {
	@include font-face-variable(Noto, Serif, Thai, VF, Regular, normal, normal);
	unicode-range: $thai;
}
// The variable serif for Tibetan
@font-face {
  @include font-face-variable(Noto, Serif, Tibetan, VF, Regular, normal, normal);
  unicode-range: $tibetan;
}
/*
// The variable serif for Warang Citi
@font-face {
  @include font-face-variable(Noto, Serif, WarangCiti VF, Regular, normal, normal);
  unicode-range: $warang-citi;
}
// Variable serif fonts for Zanzabar Square
@font-face {
	@include font-face-variable(Noto, Serif, ZanzabarSquare, VF, Regular, normal, normal);
	unicode-range: $zanzabar;
}
*/
